.stepper {
    .line {
      width: 2px;
      background-color: lightgrey ;
    }
    .lead {
      font-size: .75rem;
    }
  }
.content{
    // padding-top:100px;
    &.pt-25{
      padding-top: 25px;
    }
    .text-muted.time{
      font-weight: 600;
      color: #23222C !important;
      text-align: right;
    }
}

p {
  font-size: .85rem;
}
small {
  font-size: .65rem;
}
.card{
  box-shadow: 0px 4px 26px rgb(71 79 90 / 8%);
  border-radius: 15px;
  border :none;
}
img.svg{
  min-width: 55px;
  min-height: 40px;
  object-fit: contain;
  max-width: 55px;
  max-height: 40px;
  svg {
    fill:red;
  }
}
.h-100vh{
  min-height: 100vh;
  padding-bottom: 100px;
}

.h-w-header{
  min-height: calc(100vh - 100px);
  padding-bottom: 100px;
}