<div ngbDropdown class="d-inline-block lang-dropdown" placement="bottom-right">
  <!-- <button class="btn" id="dropdownBasic1" ngbDropdownToggle>{{ language  | uppercase }}</button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <button ngbDropdownItem (click)="setLanguage('en')">EN</button>
    <button ngbDropdownItem (click)="setLanguage('th')">TH</button>
  </div> -->
</div>
<div class="header">

  <img class="position-absolute" src="/assets/image/bg/bg.svg">
  <img src="/assets/image/bg/curvy.svg">
</div>
