.shop-logo{
    width: 100px;
    height: 100px;
    object-fit: contain;
    box-shadow: 0px 10px 30px 0px #88acbc26;
    border-radius: 15px;
}
.icon-green{
    color: #46C943;
}
.icon-red{
    color: #E02C2B;
}
.icon-orange{
    color:  #FF9E4E;;
}
.content-shop{
    margin-right: 1rem;
    margin-left: 0.9rem;
}